* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 18px;
    height: 100vh; 
    padding: 10px;
    background-color: #f0f0f0;
}

.box {
    color: white;
    font-weight: bold;
}

.box1 { 
	background-color: #007F5F;    
	grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;}

.box2 { 
	background-color: #80B918;  
	grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 1;
} 


.box3 { 
	background-color: #DDDF00;  grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 1; 
}
.box4 { 
	background-color: #EEEF20;  grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3; 
}
.box5 { 
	background-color: #FFFF3F;  grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 5; 
}

.box6 { 
	background-color: #2B9348;   
	grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}

.box7 { 
	background-color: #55A630;  grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 7; 
}

.box8 { 
	background-color: #AACC00;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 7; 
}


.box9 { 
	background-color: #BFD200;   grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 9; 
}
.box10 { 
	background-color: #D4D700; grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 7; 
} 
.box11 { 
	background-color: #007F5F;   grid-row: span 4 / span 4;
    grid-column-start: 6;
    grid-row-start: 7; 
} 

.footer {
    background-color: #A0C4A5;
    text-align: center;
    font-size: 2rem;
    color: black;
    display: grid;
	grid-column: span 6 / span 6;
    grid-row-start: 11;
}
